<div class="ui menu ">
  <a class="header item">
    <a class="ui logo icon image">
      {{#link-to "index" }}тут будет картинка{{/link-to}}
    </a>
  </a>
  <a class="item">
    {{#link-to "roof" }}Потолок{{/link-to}}
  </a>
  <a class="item">
    {{#link-to "light" }}Освещение{{/link-to}}
  </a>
  <a class="item">
    {{#link-to "cctv" }}Видео наблюдение{{/link-to}}
  </a>
</div>
{{yield}}
