<div class="ui tree column centered grid ">
  <div class="three column row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  <div class="three column row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  <div class="three column row">
    <div class="column"></div>
    <div class="column "></div>
    <div class="column"></div>
  </div>
</div>

{{yield}}
